/* Universal Selector */
* {
  box-sizing: border-box;
}
/* Element Selectors */

body{
  position: relative;
  font-family: "Helvetica, arial, sans-serif";
  font-size: 20px;
  background-color: #edd9a3; /* Banana Mania*/
  color: black;  /* Pine Tree*/

}

/* format name color */
.holly{
  color: #1C3144;
}
.hoffman{
  color: #70877F;
}
h1{
  margin:20px;
}
h1:hover{
  text-shadow: 1px 1px #a24936;
}

/* format main content */
main{
  padding: 60px 0;
}

#contact{
  background-color: #70877F;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color:#000000ff;
  padding:2% 2%;
  font-size: 100%;
  width: auto;
  justify-content: center;
  height: auto;
}

h2{
  padding-bottom: 15px;
}

/* header styling */
.main-header{
  display: flex;
  justify-content: flex-end;
  align-content:center;
  flex-wrap: wrap;
  background-color: #1c3144;
  width: 100%;
  height: 60px;
  position:fixed;
  border-bottom: 10px solid #eee;
}

.nav-link{
  font-size: 1em;
  text-decoration: none;
  margin: 1em;
  color: white;
  font-weight: bold;
}
.nav-link:hover{
  text-shadow: 2px 2px #a24936;
}

nav ul li{
  text-align: right;
  display: inline;
}


/* footer styling */
footer {
  position:absolute;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-bottom: 10px solid #eee;
  background-color: #1c3144;
  color:white;
  font-size: 10px;
}

/* bio image styling */
figure{
  margin-bottom:40px;
}

img{
  display: block;
  margin: 5px auto;
}

figcaption{
  font-size: 8px;
}

/* Section Styling */

#about, #work , #contact
{
  width:100%;
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #eee;
  background-color: #70877F;
  font-size: 20px;
  color:#1c3144;
  -webkit-text-stroke: .3px black;
}

#link{
  font-size: 20px;
  color: #eee;
  display: inline;
}



/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#page{
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#work-heading{
  padding: 5px;
  width: auto;
  text-align: center;
  color: #1c3144;
}

#work{
  text-align: center;
  border-style: solid;
  border-width:1px;
  float: left;
}

#work header {
  padding: 20px;
}


/* #work img {
  width: 25%;
}  */
/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  #work {
    width: 50%;
  }
}


/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  #work {
    width: 100%;
  }
}
