
/* Element Selectors */

body{
  font-family: "Helvetica, arial, sans-serif";
  font-size: 20px;
  background-color: #edd9a3; /* Banana Mania*/
  color: black;  /* Pine Tree*/

}

h1{
  margin-top: 80px;
}
h2{
  padding-bottom: 15px;
}

footer {
  position:fixed, bottom;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-bottom: 10px solid #eee;
  background-color: #1c3144;
  color:white;
  font-size: 10px;
}

  /* bio image styling */
figure{
  margin-bottom:40px;
}

img{
  display: block;
  margin: 5px auto;
}

figcaption{
  font-size: 8px;
}

nav ul li{
  display:flex;
  text-align: right;
  display: inline;
}


/* header styling */
.main-header{
  display: flex;
  justify-content: flex-end;
  align-content:center;
  flex-wrap: wrap;
  background-color: #1c3144;
  width: 100%;
  height: 60px;
  border-bottom: 10px solid #eee;
}

.nav-link{
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
  color: white;
  font-weight: bold;
}


.nav-link:hover{
  text-shadow: 2px 2px #a24936;
}


/* format name color */

.holly{
  color: #1C3144;
}
.hoffman{
  color: #70877F;
}




#contact{
  background-color: #70877F;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-color:#000000ff;
  padding:2% 2%;
  /* font-size: 100%; */
  width: auto;
  justify-content: center;
  height: auto;
}


/* Section Styling */

#about, #work, #contact
{
  width:100%;
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #eee;
  background-color: #70877F;
  font-size: 20px;
  color:#1c3144;
  -webkit-text-stroke: .3px black;
}

#link{
  font-size: 20px;
  color: #eee;
  display: inline;
}

/* Class Selectors */
.text-center {
  text-align: center;
}

.main-content {
  /* display:flex;
  flex-wrap: wrap; */
  width: 100%;
}

.work-heading{
  padding: 5px;
  width: auto;
  text-align: center;
  color: #1c3144;
}

#portfolio-cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  padding: 5px;
  width: 40%;
  min-width: 300px;
  position: relative;
} 

#feature{
  width: 70%;
  background-image: url(../images/Screenshot.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  
  display: block;
  height: 300px;

}

#work header {
  padding: 20px;
  position: absolute;
  background-color: #1c3144;
  color: white;
  left: 0;
  bottom: 20px;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
}


/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}
